{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": false,
        "targets": ">0.05%, not dead, not ie <= 11, not op_mini all"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/proposal-class-properties", { "loose": true }],
    ["@babel/plugin-proposal-object-rest-spread", { "loose": true }],
    ["transform-react-remove-prop-types", { "removeImport": true }]
  ],
  "env": {
    "test": {
      "plugins": ["@babel/transform-modules-commonjs"]
    }
  }
}
