node_modules/
# production
build/
dist/
.cache/
.parcel-cache/
.next

# testing
/coverage

# misc
.DS_Store
Thumbs.db
ehthumbs.db
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


Desktop.ini
report.*.json
.idea

#
# Changesets
#
**/CHANGELOG.md

#
# Yarn
#
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

#
# dot files
#
.cache
.vercel
.output

#
# Remix 
#
docs-new/public/build
docs-new/api/_build
docs-new/api/index.js
