.sunburst-main {
    background: #14D790;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.path {
    will-change: transform;
    transform: translate3d(0, 0, 0);
}
.path:hover {
    cursor: pointer;
}
