.dock-card {
  border-radius: 12px;
  border: solid 1px rgba(255, 255, 255, 0.1);
  background-color: #262626;
  filter: saturate(0.9) brightness(0.9);
  transition: filter 200ms;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &:hover {
    filter: saturate(1) brightness(1.12);
  }
}

.dock-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.dock-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}
