.scroll-parallax-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: justify;
  color: lightpink;
  font-size: 3em;
  line-height: 0.9em;
  font-weight: 800;
}

.scroll-parallax-container-svg {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15vw;
  max-width: 600px;
  transform-origin: 0% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bg {
  fill: #2da1dc;
}
#sweater > path:nth-child(1) {
  fill: #60d882;
}
#sweater > path:nth-child(2) {
  fill: #37c47a;
}
#sweater > path:nth-child(3) {
  fill: #37c47a;
}

#face > path:nth-child(1) {
  fill: #ffe2b8;
}
#face > path:nth-child(2) {
  fill: #ffc987;
}
#eye > path:nth-child(2) {
  fill: #f0f0f0;
}
#eye > g:first-of-type > path:nth-child(1) {
  fill: #159e97;
}
#eye > g:first-of-type > path:nth-child(2) {
  fill: #0f9390;
}
#eye > g:last-of-type > path:nth-child(2) {
  fill: #231f20;
}
#mouth > path:nth-child(1) {
  fill: #f24976;
}
#mouth > path:nth-child(2) {
  fill: #b7092b;
}
#mouth > path:nth-child(3) {
  fill: #a00026;
}
#mouth > path:nth-child(4) {
  fill: #ffffff;
}
#hair > path:nth-of-type(1) {
  fill: #62317c;
}
#hair > path:nth-of-type(2) {
  fill: #62317c;
}
#hair > path:nth-of-type(3) {
  fill: #62317c;
}
