.App {
  font-family: sans-serif;
  text-align: center;
}

.buttons {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  height: 100px;
}

ol {
  position: absolute;
  top: 50px;
}

.button1 {
  flex: 1;
}

.button2 {
  flex: 1;
}
