.list-reorder {
  box-sizing: border-box;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  width: 100% !important;
}

.list-reorder-scroll {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow-y: auto;
}

.list-reorder-card {
  box-sizing: border-box;
  position: absolute;
  will-change: transform, height, opacity;
  width: 100%;
}

.list-reorder-cell {
  box-sizing: border-box;
  position: relative;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  padding: 15px 15px 0px 15px;
}

.list-reorder-details {
  box-sizing: border-box;
  position: relative;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #ffffffa0;
  color: white;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
}
