.main-gestures {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
}

.main-gestures > div {
  width: 100px;
  height: 100px;
  background: hotpink;
  border-radius: 50%;
  cursor: -webkit-grab;
}

.main-gestures > div::after {
  content: 'PULL';
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  letter-spacing: 2px;
}

.main-gestures > div:active {
  cursor: -webkit-grabbing;
}
