.msg-main {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  height: 100%;
  background: #272727;
}

.msg-main button {
  cursor: pointer;
}

.msg-main button:hover {
  background: indianred !important;
}

.msg-main button:focus {
  outline: 0;
}

.msg-main > button {
  border: none;
  border-radius: 5px;
  height: 30px;
  padding: 5px 10px;
  margin: 10px;
  background: #373737;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.msg-main > button > svg {
  margin-right: 5px;
  stroke: rgba(0, 0, 0, 0.5) !important;
}

.msg-container {
  width: 220px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.msg {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 220px;
}

.msg-content {
  color: #afafaf;
  background: black;
  margin: 5px;
  padding: 10px;
  font-size: 10px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 10px;
}

.msg-content > p {
  margin-top: 0;
  margin-bottom: 0;
}

.msg-content > span {
  font-size: 1.3em;
}

.msg-content > button {
  position: relative;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background: #373737;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.msg-content > button > svg {
  transform: scale(2);
}

.msg-life {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: auto;
  background: indianred;
  height: 4px;
}
