.script-bf-main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  color: black;
}

.script-bf-box {
  width: 50px;
  height: 180px;
  background: black;
  margin: 5px;
  will-change: transform;
}

.script-bf-box:hover {
  background: hotpink;
}
