.gestures-main {
    background-color: hotpink;
    color: #fff;
    width: 100%;
    height: 100%;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.gestures-item {
    position: relative;
    width: 180px;
    height: 70px;
    pointer-events: auto;
    transform-origin: 50% 50% 0px;
    border-radius: 4px;
    color: white;
    line-height: 70px;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
    display: grid;
    align-items: center;
    text-align: center;
}

.gestures-fg {
    background-color: #373737;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 4px;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.gestures-bubble {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}
