.container {
  background-color: #70C1B3;
  overflow: hidden;
  cursor: pointer;
  margin: 0;
  padding: 0;
  flex: 1
}

.item {
  overflow: hidden;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-family: Kanit, sans-serif;
  text-transform: uppercase;
}

.box {
  cursor: pointer;
  position: relative;
  width: 50%;
  height: 20%;
  background-color: #F3FFBD;
  will-change: transform;
}

.springRoot {
  height: 100%;
  width: 100%;
  background: #272727;
}

.box2 {
  will-change: width, height, left, top;
  position: relative;
  background-image: url(https://drscdn.500px.org/photo/3484124/q%3D80_m%3D1500/v2?webp=true&sig=b57fd22dee019a4e359611591962eac7f45817e8b2188166c9b865f53411d923);
  background-position: bottom center;
  background-size: cover;
}


