.container {
  background-color: #70C1B3;
  overflow: hidden;
  cursor: pointer;
  margin: 0;
  padding: 0;
  flex: 1
}

.item {
  overflow: hidden;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-family: Kanit, sans-serif;
  text-transform: uppercase;
}

.box {
  cursor: pointer;
  position: relative;
  width: 50%;
  height: 20%;
  background-color: #F3FFBD;
  will-change: transform;
}
