.chat-container {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  padding: 20px;
  overflow: hidden;
  overflow-y: auto;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica,
    ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  display: grid;
  grid-template-columns: minmax(0.1rem, 1fr) minmax(auto, 45ch) minmax(0.1rem, 1fr);
}

ul.ul-c {
  padding: 0;
  margin: 0;
  list-style: none;
  grid-column-start: 2;
}

ul.ul-c > li {
  background: rgb(245, 224, 224);
  margin-top: 4px;
  padding: 15px;
  width: 25ch;
  color: rgb(41, 26, 26);
  font-size: 11px;
}

ul.ul-c > li.first.last {
  border-radius: 7px;
}

ul.ul-c > li.first:not(.last) {
  border-radius: 7px 7px 0 0;
}

ul.ul-c > li.last:not(.first) {
  border-radius: 0 0 7px 7px;
}

ul.ul-c > li:not(.first):not(.last) {
  border-radius: 0;
}

ul.ul-c > li.right.last:after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-bottom: 10px solid rgb(245, 224, 224);
  bottom: 0px;
  left: -10px;
}

ul.ul-c > li.left {
  margin-left: auto;
  margin-right: 0;
  background: rgb(237, 241, 207);
  color: rgb(34, 39, 26);
}

ul.ul-c > li.left.last:after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-bottom: 10px solid rgb(237, 241, 207);
  bottom: 0px;
  right: -10px;
}

ul.ul-c > li.first:not(:first-of-type) {
  margin-top: 25px;
}
