.main > div {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Kanit, sans-serif;
  font-weight: 800;
  font-size: 10em;
  will-change: transform, opacity;
}
