.onrest-main {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
      helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
      width: 100%;
      height: 100%;
      background: #789;
      color: white;
  }