.fts-card {
  background-color: #3f51b5;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 3rem;
  color: white;
  cursor: pointer;
  position: relative;
}

.fts-card > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fts-close-card {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.fts-animated-grid {
  background-color: #6279ff;
  max-width: 400px;
}

.fts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  grid-gap: 1rem;
  max-width: 400px;
  padding: 1rem;
  margin: 0;
}

.fts-btn {
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  border: 1px solid #bdbcbc;
  background-color: #e8e8e8;
  border-radius: 4px;
  font-size: 0.95rem;
}

.fts-btn:hover {
  background-color: #d2d2d2;
}

.fts-btn + .fts-btn {
  margin-left: 1rem;
}

@keyframes fts-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fts-fade-in {
  animation: fadeIn 500ms forwards;
}

.fts-p-4 {
  padding: 1.5rem;
}
