.viewpager-main {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.viewpager-main > div {
  position: absolute;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.viewpager-main > div > div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  will-change: transform;
  box-shadow: 0 62.5px 125px -25px rgba(50, 50, 73, 0.5), 0 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
}
