.body {
  background-color: #171717;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.grid__container {
  overflow: hidden;
  position: fixed;
  inset: 0;
  color: rgba(255, 255, 255, 0.4);
  pointer-events: none;
}

.full__page {
  width: 100vw;
  height: 100vh;
}
