.script-main {
  position: relative;
  width: 100%;
  height: 100%;
}
.script-box {
  will-change: width, height, left, top;
  position: relative;
  background-image: url(https://drscdn.500px.org/photo/3484124/q%3D80_m%3D1500/v2?webp=true&sig=b57fd22dee019a4e359611591962eac7f45817e8b2188166c9b865f53411d923);
  background-position: bottom center;
  background-size: cover;
}
