.container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.default {
  background-color: rebeccapurple;
}

.opposite {
  background-color: lightgreen;
}

.sticky {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-content {
  background-color: pink;
  font-size: 1.5rem;
  height: 5rem;
  width: 10rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 2rem;
  cursor: pointer;
}
