.hooks-main {
  width: 100%;
  height: 100%;
  background: lightblue;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hooks-main > svg {
  display: none;
}

.hooks-main > p {
  z-index: 1000;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
  segoe ui, arial, sans-serif;
  font-weight: 100;
  font-size: 10em;
  color: rgba(255,255,255,0.7);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  text-align: left;
  line-height: 0.7em;
}

.hooks-main > p > span:last-of-type {
  font-weight: 600;
}

.b1, .b2, .b3 {
  position: absolute;
  will-change: transform;
  border-radius: 50%;
  background: lightcoral;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  opacity: 0.6;
}

.b1 {
  width: 170px;
  height: 170px;
}

.b2 {
  width: 350px;
  height: 350px;
}

.b3 {
  width: 200px;
  height: 200px;
}

.b1::after, .b2::after, .b3::after {
  content: '';
  position: absolute;
  top: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255,255,255,0.8);
}

.b2::after {
  top: 70px;
  left: 70px;
  width: 70px;
  height: 70px;
}

.b3::after {
  top: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
}

.hooks-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: url('#goo');
  overflow: hidden;
}