.fill {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 0px;
  background: #272727;
}

.mainRoute {
  position: absolute;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainRouteItem {
  text-align: center;
}

.subRoute {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex: 1;
  font-size: 20px;
  color: white;
  height: 100%;
}

.nav {
  padding: 0px;
  margin: 0px;
  top: 0px;
  height: 20px;
  display: flex;
  background-color: white;
  z-index: 1;
}

.navItem {
  text-align: center;
  align-self: center;
  flex: 1;
  list-style-type: none;
  padding: 10px;
}

.navItemUltra {
  margin-top: 64px;
}
