.trailsText {
  position: relative;
  width: 100%;
  height: 110px;
  line-height: 110px;
  color: black;
  font-size: 8em;
  font-weight: 800;
  letter-spacing: -0.05em;
  will-change: transform, opacity;
  overflow: hidden;
}

.trailsText > div {
  padding-right: 0.05em;
  overflow: hidden;
}
