html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: auto;
}

body {
  font-family: system-ui;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
}

.flex.fill {
  height: 100%;
}

.flex.center {
  justify-content: center;
}

:root {
  --step0: #ff403c;
  --step1: #86bfea;
  --step2: #f9a033;
  --step3: rgb(219, 86, 152);
  --step4: #88ff88;
}
