.page {
  margin: 0 auto;
  max-width: 720px;
  padding: 40px 16px 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.back {
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 100;
  padding: 10px;
  background: #000;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  border-radius: 2px;
  border: 1px solid #333;
}

.link {
  display: inline-block;
  color: inherit;
}

.linkList {
  display: grid;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 80px;
}
