{
  "presets": [
    "next/babel",
    [
      "@babel/preset-typescript",
      {
        "allowDeclareFields": true
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": false,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}
