.liq-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: hotpink;
}

.liq-logo {
  width: 90%;
  height: 90%;
  max-width: 500px;
  max-height: 500px;
}

.liq-logo__device {
  transform: translateZ(0);
  backface-visibility: hidden;
}
