name: release
on:
  push: {}
  pull_request: {}
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'
      - name: Install deps
        # this runs a build script so there is no dedicated build
        run: yarn install
      - name: Run tests
        run: yarn test:ts && yarn test:cov
