#root {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
}

.block {
  margin: 20px;
  width: 200px;
  height: 200px;
}

.fixed {
  position: absolute;
  width: 500px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica,
    ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

